* {
    margin: 0;
    padding: 0;
}

section {
    margin-bottom: 128px;
}


.bannner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 97px; */
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    /* width: 1920px; */
    /* padding:  50px 240px 0px 240px; */
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.banner-img {
    width: 635px;
    height: 800px;

}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0px;
}

/* Seals Section */
.seals-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    height: 620px;
    text-align: center;

}

.text-color {
    color: #E55473;
    ;
}

.seals-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.seals-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
    width: 594px;

}

/* subscribe section */

.subscribe-conation {
    text-align: center;
    width: 1440px;
    height: 449px;
    margin: auto;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-position: cover;

}

.subscribe-conation input {
    width: 700px;
    height: 64px;
    border: 0;
    padding-left: 22px;
    color: rgba(39, 39, 39, 0.60);
font-size: 16px;
font-weight: 400;
border-radius: 8px;
margin-right: 16px;


}

.subscribe-title{
    color: #272727;
font-size: 40px;
font-weight: 800;
margin-bottom: 16px;
}

.subscribe-descrription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}


/* footer section */
.footer-info {
    background: #111010;
    height: 449px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.footer-title {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 625;
    margin-bottom: 32px;
}

small {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}