/* ------------------------------commmon ------------------------------------ */


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

section {
    margin-bottom: 128px;
    /* width: 100%; */
}

.section-alignment {

    padding: 0px 240px;
    width: 1440px;
}

.user-input {
    width: 700px;
    height: 64px;
    border: 0;
    padding-left: 22px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    margin-right: 16px;
}

/*---------------------------------------- banner section------------------------------------------ */


.banner-section {
    width: 1920px;
    height: 850px;
}

.bannner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 97px;
    background: rgba(229, 84, 115, 0.10);
    padding: 50px 240px 0px 240px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
    width: 634px;
}

.banner-img {
    /* margin-top: 17px; */
    padding-top: 50px 0;
    width: 635px;
    height: 800px
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0px;
}

/* ----------------------------features section=------------------------------------- */

.feature-container {
    text-align: center;

}

.feature-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px ;

}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
    
}


.freature-img {
    display: flex;
    justify-content: space-around;
    padding: 0px 240px;
    gap: 24px;
}
.flower-name{
    margin-top: 34px;
}

.bg-1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
}

.bg-2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
}

.bg-3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
}

img {
    width: 310px;
    height: 428px;
    padding: 110px 78px 0px 78px;
}

.feature-container .freature-img p{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
/* ----------------------------support section------------------------ */

.support-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    text-align: center;
}

.support-details {
    margin-top: 24px;
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

/* -----------------------------------Sales Section----------------------------- */


.sales-section {
    width: 1922px;
}

.sales-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    height: 620px;
    text-align: center;


}

.text-color {
    color: #E55473;
    ;
}

.sales-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.sales-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
    width: 594px;

}


/* ------------------------------------------login section-------------------------  */


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    /* background: linear-gradient(45deg,rgba(236, 8, 141, 0.432), rgba(255, 255, 255, 0.26)); */
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    height: 620px;
}

.login-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

/* -------------------------------------instagram section------------------------------- */


.insta-container {
    /* border: 2px solid red; */
    text-align: center;

    /* height: 449px; */

}

.insta-img {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 24px;
}

.insta-title {
    margin-bottom: 24px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.insta-description {
    margin-bottom: 48px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    margin: 0 auto;
    margin-bottom: 48px;
}

/*-------------------------------------- subscribe section----------------------------- */

.subscribe-conation {
    text-align: center;
    width: 1440px;
    height: 449px;
    margin: auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-position: cover;

}

/* .subscribe-conation input {
    width: 700px;
    height: 64px;
    border: 0;
    padding-left: 22px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    margin-right: 16px;


} */

.subscribe-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 16px;
}

.subscribe-descrription {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}


/*---------------------------------footer section--------------------------------- */

footer {
    width: 1992px;
}

.footer-info {
    background: #111010;
    height: 449px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.footer-title {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 625;
    margin-bottom: 32px;
}

small {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}