/* .feature-container {
    text-align: center;

}

.feature-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px ;

}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
    
}


.freature-img {
    display: flex;
    justify-content: space-around;
    padding: 0px 240px;
    gap: 24px;
}

.bg-1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
}

.bg-2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
}

.bg-3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
}

.img {
    width: 310px;
    height: 428px;
    padding: 110px 78px 0px 78px;
}

.feature-container .freature-img p{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
} */